.foot {
  background-color: #274060; /* dark blue */
  color: white;
  text-align: center;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  
}

.footer img {
  display: flex;
  justify-content: center;
  align-items: center;
}
